<div class="container">
  <div class="question-form">
    <div class="title">
      <h1>Stupid Coaching</h1>
    </div>
    <div class="link">
      <form action="/answer">
        <input type="text" name="question" value=" <%= params[:question] %> " placeholder="Ask a question !">
        <input type="submit" value="Ask!">
      </form>
    </div>
  </div>
</div>
